---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Tecno Store" description="Tienda de tecnología">
    <h1 class="text-3xl font-bold">Bienvenido a Tecno Store</h1>
    <p class="mt-4">Tu tienda de tecnología favorita.</p>
    <p class="mt-4">Aquí encontrarás los mejores productos tecnológicos.</p>
    <p class="mt-4">
        ¡Explora nuestra tienda y descubre lo que tenemos para ti!
    </p>
    <p class="mt-4">¡Gracias por visitarnos!</p>
    <p class="mt-4">¡Esperamos verte pronto!</p>
    <p class="mt-4">¡No olvides seguirnos en nuestras redes sociales!</p>
    <p class="mt-4">¡Estamos aquí para ayudarte!</p>
</MainLayout>
